<div class="jumbotron">
  <h2>Willkommen beim codefor Sensor API Server</h2>
  <p class="lead">Dies ist der zentrale Sammelpunkt für die Sensordaten.</p>
</div>

<div>
  <i>TODO Liste mit Users / Sensors</i>
  Spec: <a href="https://github.com/CodeforChemnitz/SensorAPI/blob/master/doc/APIv1.md"> API v1 </a>
</div>
